
// color variables
$color-primary:#ffffff;
$color-primary-blue:#2c7aee;


$color-secondary:#1d3c69;
$color-secondary-dark:#424242;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
  
   
}
body{
    background-color: $color-primary;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6 ;
}
.container{
    // background: linear-gradient(to bottom right, red,blue);
     display: grid;
     grid-template-columns: [f-st]1fr[c-st] repeat(8,[col-st]minmax(min-content,14rem)[col-nd])[c-nd] 1fr[f-nd];
     align-items: center;
     justify-content:center ;
     padding: 0 1.5rem;
 
    }
    .container-sub{
       grid-column: c-st/c-nd;
}
a{
    text-decoration: none;
}
