.header{
    width: 100%;
    min-height: 10rem;

    &-nav{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @media only screen and (max-width:800px){
        grid-template-columns: 1fr;
        }
        @media only screen and (max-width:610px){
        justify-items: center;
        }
        
        
        &--links{
            grid-column: 2 /span 2;
            @media only screen and (max-width:610px){
            grid-column: auto;
            }
            
            display:flex;
             justify-content: space-between;
            align-items: center;
            @media only screen and (max-width:610px){
                flex-direction: column;
                margin-bottom: 2rem;
                }

       & a{
           display: inline-block;
           padding:.5rem 1rem;
           color: #737373;
           
           transition: all .2s;
           outline: none;
           &:hover{
               border: 2px solid $color-primary-blue;
               border-radius: .2rem;
            }
        }
        & input{
            outline: none;
            outline-style: none;
            padding:.5rem 1rem;
            border: 2px solid #737373;
            border-radius: .2rem;
            &:hover,&:focus{
                border-color: $color-primary-blue;
            }
       }
    }
}
}